@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */

 main{
   max-width: 1440px;
   margin: 0 auto;
 }
 main >section{
   margin-top: 130px;
 }
 .display-flex{
    display:flex;
 }

 .section-title{
   font-size: 2.8rem;
   font-weight: 700;
}
 .btn-prim{
 background-color: #FF900E;
 padding: 20px 25px;
 color: white;
 font-size: 1.25rem;
 font-weight: 600;
 border: none;
 border-radius:5px ;

 }
 /*dark-2*/
 .text-gray{
    color:#424242 ;
 }
 /*dark-3*/
 .text-gray-2{
    color:#727272 ;
 }
 .text-pary{
   color: #FF900E;
 }
 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
 }

/* header style */



/* navber related style */
 .navbaner{
   justify-content: space-between; 
   align-items: center;
 }

.baner{
   font-weight: 700;
   font-size:3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500px;
}
.navbaner, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

/*banner related style*/
.banner-content{
   text-align: center;
   max-width: 850px;
   margin: 0 auto;
   margin-bottom: 50px;

}
.banner-title{
   font-size: 4rem;
   font-weight: 700;

}
.nav-descriptinoba{
   font-weight: 400;
   font-size: 1rem;
   margin-bottom: 20px;
}
.banner-img{
   width: 100%;
}


/*featurs relatad style*/
.teams-img-container{
   display: grid;
   grid-template-columns: repeat(2,1fr ) ;
   gap: 15px;
}
.teams{
   align-items: center;
}

.our-features{
margin-left:130px ;
max-width: 530px;
}

#quick-list{
   font-weight: 500;
}

/*some fact style*/
.facts-container{
 display: grid;
 grid-template-columns: repeat(4,1fr);
}


.fact-card{

border: 1px solid #ff900e;
border-radius: 8px;
width: 248px;
height: 240px;
text-align: center;
align-items: center;
justify-content: center;
}
.fsct-icon{
   font-size: 2.8rem;
   font-weight:600 ;
   margin-top: 5px;
   margin-bottom: 10px;
}
.fact-name{
   font-size:1.25rem ;
   font-weight:600;
   margin-top: 10px;
}
.fact-descaption{
   max-width: 540px;
}

/*sponsors style*/
.sponsors-info{
   max-width: 540px;
   margin: 50px auto;
   text-align: center;
}
.sponsors-compaiers{
   display: grid;
   grid-template-columns:repeat(5 ,1fr) ;
}
.sponsors-compaiers img{
   filter: grayscale(100%);
}



@media screen and (max-width:576px) {
   .navbaner ,
   .nav-links,
   .teams{
      flex-direction: column;
   }
   .teams-img-container,
   .facts-container,
   .sponsors-compaiers{
      grid-template-columns: repeat(1,1fr);
   }
   .facts-container,
   .sponsors-compaiers{
      justify-items: center;
      gap: 24px;
   }

   .sponsors-compaiers{
      justify-items: center;
      gap: 50px;

   }
   .our-features{
      margin-left: 20px;
   }
}
/*medim sixe divis*/
@media screen  and (min-width:576px) and (max-width:992px) {
   .teams{
      flex-direction: column;
   }
   
   .our-features{
      margin-left: 50px auto;
   }
   .sponsors-compaiers,.facts-container{
      grid-template-columns: repeat(2 ,1fr);
      gap: 50px;
      justify-items: center;
   }
}